@import '../../../../common.scss';

.dishes {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 0;
    list-style-type: none;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 80px;
        min-width: 100px;
        color: $goldenColor;
        list-style-type: none;
        vertical-align: middle;
        letter-spacing: 5px;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        user-select: none;

        @include only-mobile {
            width: 33%;
        }

        &:hover {
            color: $blueColor;
            background-color: $goldenColor;
        }
    }
}

.cuisine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 30px;

    @include only-mobile {
        grid-template-columns: 1fr 1fr;
    }

    @include small-m {
        grid-template-columns: 1fr;
    }

    aside {
        position: relative;
        display: flex;
        flex-direction: column;
        user-select: none;
        margin-bottom: 20px;
        border-radius: 7px;

        .frame {
            position: relative;
            min-height: 200px;
            width: 80%;
            opacity: 1;
            transition: all 1s ease-in-out;
            margin: 0 auto;

            img {
                object-fit: cover;
                border-radius: 7px;
            }
        }

        .content {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            min-height: 200px;
            width: 80%;
            transition: all 1s ease-in-out;
            border-radius: 7px;

            > div {
                display: flex;
                flex-direction: column;
                padding: 20px;
                min-height: 160px;

                span {
                    width: 100%;
                    opacity: 0;
                    transition: all 1s ease-in-out;
                    color: $riceWhite;

                    &:first-of-type {
                        font-size: 20px;
                    }

                    &.money {
                        margin-top: auto;
                    }
                }
            }
        }

        h2.foodtitle {
            height: 20%;
            margin: 20px 0;
            color: $goldenColor;
            font-size: 20px;
        }

        &:hover {
            .frame {
                opacity: 0;
            }

            .content {
                background-color: $cardColor;

                span {
                    opacity: 1;
                }
            }
        }
    }

    > div {
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        display: block;
        width: 100%;
        color: $riceWhite;
    }
}