@import '../../../../common.scss';

.activities {
    main {
        > div {
            background: url(https://www.bravobeer.com.tw/themes/zh-tw/assets/images/newsview_bg2.jpg);
            padding: 40px 15% !important;

            .subtitle {
                margin: 0;
                text-align: left;
                white-space: nowrap;
            }
        }

        .lister {
            display: flex;
            margin-bottom: 20px;
            text-align: left;
            color: $fontColor;

            span {
                width: 80%;
                font-size: 22px;
            }

            h3 {
                margin-right: 20px;
                font-size: 22px;
                font-weight: bold;

                &::before {
                    content: '◎';
                    display: inline-block;
                    margin-right: 20px;
                }
            }

            @include only-mobile {
                flex-direction: column;
                text-align: left;

                span {
                    width: auto;
                    padding: 25px 0 0 40px;
                }
            }
        }

        .subcontent {
            margin: 40px 20px 0;
            margin-top: 50px;
            margin-right: 20px;
            font-size: 25px;
            text-align: left;

            > strong {
                margin: 0;
                background-color: rgb(255, 204, 204);
            }

            .lister {
                margin-top: 20px;
            }
        }
    }
}