@import '../../../common.scss';

.inputblock {
    margin-bottom: 20px;
    text-align: center;

    span {
        display: block;
        color: $goldenColor;
        margin: 0 0 5px 5px;
        font-size: 15px;
        text-align: left;
    }

    input {
        width: calc(99% - 20px);
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        font-size: 15px;
        outline: none;

        &::placeholder {
            color: #ddd;
        }
    }

    textarea {
        width: calc(99% - 20px);
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        font-size: 15px;
        resize: none;
        outline: none;

        &::placeholder {
            color: #ddd;
        }
    }

    .err {
        color: red;
        margin-bottom: 0;
        font-size: 15px;

        &:not(.TEXTING) {
            margin-top: 5px;
        }
    }
}