.backmenu {
    .lightbox {

        > div:first-of-type {
            width: 70%;
        }

        .regisblocker {
            display: block;
            background-color: #fff;
            padding: 30px;

            .selection {
                margin-bottom: 20px;
                
                > span {
                    display: block;
                    color: rgb(213, 173, 120);
                    margin: 0 0 5px 5px;
                    font-size: 12px;
                    text-align: left;
                }

                select {
                    width: 100%;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    padding: 10px;
                    outline: none;
                    cursor: pointer;
                }
            }

            textarea {
                height: 200px;
            }
        }
    }
}