.backactivities {
    .addactivities {
        margin-bottom: 30px;
    }

    .display {
        aside {
            display: flex;
            width: 100%;

            h3 {
                font-size: 30px;
            }

            &:not(:first-of-type) {
                margin-top: 50px;
            }

            .frame {
                img {
                    object-fit: cover;
                }
            }

            .contents {
                position: relative;
                width: 100%;
                margin-left: 20px;
                max-width: 500px;

                .bottomline {
                    display: flex;
                    align-items: flex-end;

                    button {
                        height: 30px;
                        margin-left: 30px;
                        cursor: pointer;
                    }

                    .date {
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    .lightbox {
        > div:first-of-type {
            width: 70%;
        }
        
        .regisblocker {
            display: block;
            background-color: #fff;
            padding: 30px;

            textarea {
                height: 400px;
            }
        }
    }
}