@import '../../common.scss';

.menu {
    main > div {
        margin-top: 0;
        padding: 0;

        .dishes {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 0;
            margin-bottom: 30px;
            padding-left: 0;
            list-style-type: none;
            background-color: $blueColor;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                height: 80px;
                min-width: 100px;
                color: $goldenColor;
                list-style-type: none;
                vertical-align: middle;
                letter-spacing: 5px;
                font-weight: bold;
                font-size: 20px;
                cursor: pointer;
                user-select: none;

                @include only-mobile {
                    width: 33%;
                }

                &:hover {
                    color: $blueColor;
                    background-color: $goldenColor;
                }
            }
        }

        .cuisine {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 0 30px;

            @include only-mobile {
                grid-template-columns: 1fr 1fr;
            }

            @include small-m {
                grid-template-columns: 1fr;
            }

            aside {
                position: relative;
                display: flex;
                flex-direction: column;
                user-select: none;
                margin-bottom: 20px;
                cursor: pointer;

                .frame {
                    position: relative;
                    min-height: 200px;
                    width: 80%;
                    margin: auto;
                }

                h2 {
                    font-size: 20px;
                }

                span {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 80%;
                    transform: translate(-50%, 0);
                }

                &:hover {
                    span {
                        display: block;
                    }
                }
            }
        }
    }
}