@import '../../../common.scss';

.story {
    > main > div {
        padding: 0 8% !important;

        p {
            margin: 0 auto;
            width: 1000px;
            margin-bottom: 60px;
            color: $fontColor;
            text-align: left;
    
            span {
                font-size: 20px;
                line-height: 30px;
    
                &::before {
                    content: '';
                    display: inline-block;
                    width: 33px;
                    height: 20px;
                }
    
                @include only-mobile {
                    margin-right: 0;
                }
            }

            @include mid-pc {
                width: 800px;
            }
    
            @include only-mobile {
                flex-direction: column-reverse;
                width: auto;
            }
        }
    
        .botimages {
            display: flex;
            justify-content: center;

            @include only-mobile {
                flex-direction: column;
            }
    
            > img {
                object-fit: cover;
                width: 576px;
                height: 310px;
    
                &:first-of-type {
                    margin-right: 30px;

                    @include only-mobile {
                        margin-right: 0;
                        margin-bottom: 30px;
                    }
                }

                @include mid-pc {
                    width: 384px;
                    height: 216px;
                }

                @include only-mobile {
                    width: auto;
                    height: auto;
                    aspect-ratio: 192/108;
                }
            }
        }
    }
}