@import '../../../common.scss';

.story {
    p {
        display: flex;
        margin: 60px 0;
        padding: 0 15%;
        color: $riceWhite;
        opacity: 0;
        text-align: left;
        transition: all 10s ease-in-out;

        @include only-mobile {
            padding: 0 50px;
        }

        span {
            margin-right: 60px;

            &::before {
                content: '';
                display: inline-block;
                width: 33px;
                height: 20px;
            }

            @include only-mobile {
                margin-right: 0;
            }
        }

        .storyicon {
            width: 80px;
            height: 80px;
            object-fit: cover;

            @include only-mobile {
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }

        @include only-mobile {
            flex-direction: column-reverse;
        }
    }
}