@import '../../../common.scss';

.activity {
    .articles {
        .article {
            position: relative;
            display: flex;
            height: 200px;
            margin-bottom: 20px;
            overflow: hidden;
            border-radius: 7px;
            text-decoration: none;
            cursor: pointer;

            @include only-mobile {
                display: block;
            }
            
            .frame {
                position: relative;
                width: 50%;
                height: inherit;

                @include only-mobile {
                    width: 100%;
                }
            }

            .content {
                position: relative;
                display: block;
                width: 100%;
                padding: 15px;
                background-color: #c9c3c3;
                text-align: left;

                h2 {
                    color: #000;
                    margin: 0;
                    height: auto;
                    font-size: 25px;
                    margin-bottom: 10px;
                }

                p {
                    display: -webkit-box;
                    margin: 0 10px;
                    font-size: 15px;
                    overflow: hidden;
                    color: #222;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;

                    &::before {
                        content: '';
                        display: inline-block;
                        margin-left: 30px;
                    }
                }
                
                span {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    color: rgb(174 141 96);

                    &::after {
                        content: '>>';
                        display: inline-block;
                        margin-left: 3px;
                    }
                }

                @include only-mobile {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    opacity: 0;
                    padding: 0;
                    background-color: rgba(34, 34, 34, .8);

                    h2 {
                        margin: 15px;
                        color: $riceWhite;
                    }

                    p {
                        margin: 0 30px;
                        color: $riceWhite;
                    }

                    span {
                        bottom: 5px;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}