@import '../../../common.scss';

.activity {
    main > div {
        padding: 0 5% !important;

        .articles {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0 auto;
            width: 100%;
            grid-template-rows: auto;

            @include big-pc {
                width: 1200px;
            }

            @include only-mobile {
                grid-template-columns: 1fr 1fr;
            }

            @include small-m {
                grid-template-columns: 1fr;
            }
    
            .news {
                position: relative;
                width: calc(100% - 20px);
                margin: 10px;
                border-radius: 7px;
                margin-bottom: 40px;

                .activecard {
                    box-shadow: 10px 10px 5px #9c9797;
                    border-radius: 7px;
                    margin-top: 30px;
                    text-decoration: none;

                    .frame {
                        position: relative;
                        width: 100%;
                        height: 40%;
                        aspect-ratio: 2;
                        overflow: hidden;
                        border-radius: 7px 7px 0 0;
                        margin-top: 10%;
            
                        img {
                            transition: all 1s ease-out;
                            border-radius: 7px 7px 0 0;
                            object-fit: cover;
                        }
    
                        &:hover {
                            img {
                                transform: scale(1.2,1.2);
                            }
                        }
                    }
            
                    .wording {
                        position: relative;
                        padding: 10px;
                        height: 180px;
                        background-color: $fontBasis;
                        border-radius: 0 0 7px 7px;
            
                        .topper {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
            
                            h3 {
                                width: 80%;
                                font-size: 23px;
                                margin: 0 0 15px 0;
                                text-align: left;
                                color: #555;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                letter-spacing: 5px;
                            }
                        }
            
                        .timerange {
                            width: 80%;
                            color: #000;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            text-align: left;
                        }

                        .contents {
                            display: -webkit-box;
                            height: 88px;
                            overflow: hidden;
                            text-align: left;
                            font-size: 20px;
                            color: #777;
                            text-overflow: ellipsis;
                            // line-height: 25px;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                        }

                        .readmore {
                            position: absolute;
                            right: 10px;
                            bottom: 10px;
                            color: #b0b0b0;
                            letter-spacing: 0;
                        }

                        .posttime {
                            position: absolute;
                            top: -45px;
                            right: 10px;

                            > img {
                                height: 85px;
                                width: 85px;
                            }

                            .month {
                                position: absolute;
                                top: 36%;
                                right: 28px;
                                color: #9e9e9e;
                                font-size: 15px;
                            }

                            .date {
                                position: absolute;
                                bottom: 9px;
                                font-size: 30px;
                                right: 22px;
                            }
                        }
                    }
                }

                .socialmedia {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    left: 10px;
                    height: 30px;
                    width: 100%;
                    z-index: 9;
                    overflow: hidden;

                    > div {
                        width: 100%;
                        text-align: left;
                    }
                }

                @include small-m {
                    margin-bottom: 60px;
                }
            }
        }
    }
}