@import '../../../common.scss';

.report {
    main > div {
        padding: 0 !important;
        margin-bottom: 0 !important;
    }
    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 10%;
    
        .youtube {
            flex: 1;
            aspect-ratio: 7/4;
        }

        .videocontent {
            width: 40%;
            margin-left: 70px;

            .title {
                color: $fontColor;

                h3 {
                    margin: 0;
                    font-size: 50px;

                    @include middler-pc {
                        font-size: 40px;
                    }

                    @include only-mobile {
                        font-size: 40px;
                    }
                }
            }

            p {
                color: $fontColor;
                margin: 50px 0;
                font-size: 20px;
                letter-spacing: 2px;
            }

            @include middler-pc {
                margin-left: 40px;
            }

            @include only-mobile {
                flex: 1;
                width: 100%;
                margin-left: 0;
                margin-top: 30px;
            }
        }

        @include middler-pc {
            padding: 0 5%;
        }
    
        @include only-mobile {
            flex-direction: column;
            align-items: center;

            .youtube {
                width: 100%;
            }

            p {
                margin-left: 0;
            }
        }
    
        span {
            display: inline-block;
            margin-right: 60px;
            color: $riceWhite;
    
            @include only-mobile {
                margin-right: 0;
                margin-top: 20px;
            }
        }
    
        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }
    
    .comment {
        position: relative;
        padding-top: 30px;
        background-color: $cardColor;
        // background: url(https://jkstudio.tw/ben/npm/images/frontend/italian_french/white-marble.png);

        &::after {
            content: '';
            width: calc(100% - 18px);
            height: calc(100% - 18px);
            border: 1px solid #787878;
            position: absolute;
            top: 8px;
            left: 8px;
            pointer-events: none;
        }

        h3 {
            margin: 0;
            font-size: 50px;
            color: $goldenColor;

            @include only-mobile {
                margin-top: 0;
            }
        }

        @include only-pc {
            margin-top: 70px;
        }

        .commenter {
            height: 500px;
        }
    }
}