@import '../../../common.scss';

.report {
    main > div {
        padding: 0 !important;
        margin-bottom: 0 !important;
    }
    .content {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        height: 100%;
        width: 100%;

        .videocontent {
            position: relative;
            width: calc(100% - 40%);
            margin-top: 20px;

            .title {
                width: 60%;
                margin-left: calc(15% + 30px);
                color: $fontColor;
                font-size: 17px;
                letter-spacing: 8px;
                text-align: left;
                font-weight: bold;
            }

            p {
                width: 70%;
                margin: 30px 50px 0 calc(15% + 70px);
                color: $fontColor;
                font-size: 18px;
                font-size: 17px;
                letter-spacing: 8px;
                text-align: left;
            }

            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 0;
                display: inline-block;
                width: 15%;
                border-top: 1px solid #a5a5a5;
            }

            @include only-mobile {
                flex: 1;
                width: 100%;
                margin-left: 0;
                margin-top: 30px;
                padding: 0 10px;

                .title {
                    width: auto;
                    margin-left: 0;
                    text-align: center;
                    padding: 0 10px;
                    margin-bottom: 20px;
                    font-size: 25px;
                }

                p {
                    width: auto;
                    margin: 0 auto;
                    text-align: center;
                    margin-bottom: 40px;
                    padding: 0 10px;
                }

                &::before {
                    display: none;
                }
            }
        }
    
        .youtube {
            position: relative;
            width: 40%;
            aspect-ratio: 7 / 4;
            text-align: left;

            iframe {
                position: absolute;
            }
        }
    
        @include only-mobile {
            flex-direction: column;
            align-items: center;

            .youtube {
                width: 90%;
                margin-bottom: 30px;
            }

            p {
                margin-left: 0;
            }
        }
    
        span {
            display: inline-block;
            margin-right: 60px;
            color: $riceWhite;
    
            @include only-mobile {
                margin-right: 0;
                margin-top: 20px;
            }
        }
    
        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }
    
    .comment {
        position: relative;
        padding-top: 30px;
        background-color: $cardColor;
        // background: url(https://jkstudio.tw/ben/npm/images/frontend/italian_french/white-marble.png);

        &::after {
            content: '';
            width: calc(100% - 18px);
            height: calc(100% - 18px);
            border: 1px solid #787878;
            position: absolute;
            top: 8px;
            left: 8px;
            pointer-events: none;
        }

        h3 {
            position: relative;
            margin: 0;
            font-size: 50px;
            padding-bottom: 15px;
            color: $goldenColor;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                height: 1px;
                width: 170px;
                border-bottom: 1px solid $goldenColor;
            }

            @include only-mobile {
                margin-top: 0;
            }
        }

        @include only-pc {
            margin-top: 70px;
        }

        .commenter {
            height: 500px;
        }
    }
}