.backend {
    .addactivities {
        margin-bottom: 30px;
    }

    .display {
        aside {
            display: flex;

            .frame {
                img {
                    object-fit: cover;
                }
            }
        }
    }

    .regisblocker {
        display: block;
        background-color: #fff;
        padding: 30px;
    }
}