.backend {
    .addactivities {
        margin-bottom: 30px;
    }

    .display {
        aside {
            display: flex;
            width: 100%;

            .frame {
                img {
                    object-fit: cover;
                }
            }

            .contents {
                position: relative;
                width: 100%;

                .date {
                    position: absolute;
                    bottom: 5px;
                }
            }
        }
    }

    .regisblocker {
        display: block;
        background-color: #fff;
        padding: 30px;
    }
}