@import '../../../common.scss';

.ingredient {
    section {
        display: flex;
        align-items: center;
        color: $riceWhite;

        @include only-mobile {
            flex-direction: column;
        }

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }

        span {
            display: block;
            flex-wrap: wrap;
            text-align: left;

            &::before {
                content: '';
                display: inline-block;
                width: 33px;
                height: 20px;
            }
        }

        &.firstp {
            span {
                margin-left: 60px;

                @include only-mobile {
                    margin-top: 30px;
                    margin-left: 0;
                }
            }
        }

        &.firsts {
            margin-top: 40px;

            span {
                margin-right: 60px;

                @include only-mobile {
                    margin-right: 0;
                    margin-bottom: 30px;
                }
            }
        }
    }
}