@import '../../../../common.scss';

.backactivities {
    .addactivities {
        display: flex;
        justify-content: center;
        margin: 40px 0;
        width: 100%;

        button {
            border: 0;
            border-radius: 7px;
            padding: 20px 40px;
            background-color: #c7c5c5;
            color: $blueColor;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .displays {
        margin-bottom: 30px;
        
        .buttons {
            button {
                border: 0;
                cursor: pointer;
                background-color: #fff;
                font-size: 17px;

                &:hover {
                    color: $goldenColor;
                }

                &:last-of-type {
                    margin-left: 20px;
                }
            }
        }
    }

    .lightbox {
        > div:first-of-type {
            max-height: 900px;
            width: 70%;
            overflow: auto;
        }
        
        .regisblocker {
            display: block;
            background-color: #fff;
            padding: 30px;

            textarea {
                height: 400px;
            }

            .file {
                margin-bottom: 20px;
            }
        }

        .sender {
            margin: 0 auto;
            display: block;
            border: 0;
            border-radius: 7px;
            padding: 15px 30px;
            background-color: #c7c5c5;
            color: $blueColor;
            font-size: 17px;
            cursor: pointer;
        }
    }
}