@import '../common.scss';

.home {
    // background-image: url(https://www.buna.com.tw/images/bg.jpg);
    background-color: #f9e2cb;
    padding-bottom: 60px;

    > section {
        position: relative;

        @include only-mobile {
            height: calc(100vh - 60px);
        }

        &.firstpage {
            background-color: #fff;
            height: calc(100vh - 80px);

            aside {
                @include only-mobile {
                    width: 100%;
                }
            }
        }

        &.secondpage {
            height: 60vh;
            padding: 30px 90px;

            .displayer {
                display: flex;
                align-items: center;
                height: 60vh;

                .youtube {
                    width: 700px;
                    height: 400px;
                    margin-right: 50px;
                }

                p {
                    color: $fontColor;
                }
            }
        }

        &.thirdpage {
            height: auto;
        }
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;

        > div {
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;
            width: 50%;
            height: 100%;
            background-color: #222;
            color: $goldenColor;
            font-size: 50px;
            transition: all 1s ease-in-out;
            opacity: 1;
        }

        .left {
            left: 0;
            justify-content: right;
            
        }

        .right {
            right: 0;
            justify-content: left;
        }

        &.close {
            visibility: hidden;
            
            > div {
                opacity: 0;
            }

            .left {
                left: -50%;
            }

            .right {
                right: -50%;
            }
        }
    }
}