@import '../../common.scss';

.Footer {
    display: none;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $goldenColor;
    padding: 20px;
    width: calc(100% - 40px);
    z-index: -1;
    transition: all .5s ease-in-out;
}