@import '../../../common.scss';

.message {
    main > div {
        @include only-pc {
            padding: 0 5% !important;
        }

        .section {
            display: flex;
    
            .frame {
                position: relative;
                width: 37%;
    
                img {
                    object-fit: cover;
                }

                @include only-mobile {
                    width: 100%;
                    height: 350px;
                }
            }
    
            .content {
                // margin-left: 40px;
                font-size: 20px;
                color: $fontColor;
                width: 50%;
    
                h3 {
                    text-align: left;
                    font-size: 30px;
                    font-weight: bold;
                }
    
                span {
                    display: block;
                    text-align: left;
                    line-height: 30px;
        
                    @include only-mobile {
                        margin-left: 0;
                        margin-top: 30px;
                    }
                }

                .checkout {
                    margin: 30px 20px;
                    text-align: right;

                    button {
                        border: 0;
                        padding: 20px 30px;
                        border-radius: 12px;
                        color: #fff;
                        font-size: 18px;
                        background-color: #ff8d2a;
                        letter-spacing: 2px;
                        text-align: right;
                        cursor: pointer;
                    }
                }

                @include only-mobile {
                    width: 90%;
                }
            }
    
            @include only-mobile {
                align-items: center;
                flex-direction: column;
            }

            @include only-pc {
                justify-content: space-around;
            }
        }
    }
}