@import '../../../common.scss';

.message {
    .section {
        display: flex;

        img {
            width: 200px;
            height: 400px;
            object-fit: cover;
        }

        span {
            display: block;
            color: $fontColor;
            text-align: left;
            font-size: 20px;
            line-height: 30px;
            margin-left: 80px;

            &::before {
                content: '';
                display: inline-block;
                width: 33px;
            }

            @include only-mobile {
                margin-left: 0;
                margin-top: 30px;
            }
        }

        @include only-mobile {
            align-items: center;
            flex-direction: column;
        }
    }
}