@import '../../../../common.scss';

.frame {
    position: relative;
    display: contents;
    width: calc(100% - 20px);
    height: calc(100% - 350px);
    overflow: hidden;

    @include only-mobile {
        position: absolute;
        left: 50%;
        top: calc(50% - 150px);
        transform: translate(-50%, -50%);
        display: flex;
        border: 2px solid $goldenColor;
    }

    @include small-m {
        top: calc(50% - 205px);
        height: calc(100% - 450px);
    }

    aside {
        position: relative;
        width: 30%;
        height: calc(100% - 300px);
        border: 2px solid $goldenColor;
        transition: all 1s ease-in-out;

        .bottomsrc {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &:first-of-type {
            @include only-pc {
                display: none;
            }
        }

        &:last-of-type {
            @include only-pc {
                display: none;
            }
        }

        &::before {
            content: attr(data-info); /* 將文字預先設定在 ::before 中 */
            position: absolute;
            top: 0;
            display: block;
            background-color: $goldenColor;
            width: 100%;
            height: 0;
            padding-top: 20px;
            z-index: 1;
            opacity: 0; /* 文字透明 */
            transition: all 1s ease-in-out;
            text-align: center;
            color: $blueColor;
            font-weight: 500;
            font-size: 40px;
            letter-spacing: 3px;
        }
        
        &:hover {
            &::before {
                height: 40%;
                opacity: 0.8; /* 在 hover 時顯示文字 */
            }
        }

        @include only-mobile {
            position: absolute;
            width: 100%;
            height: 100%;
            margin-top: 0;
            border: 0;
        }

        @include only-pc {
            margin: auto !important;
            margin-top: 40px !important;
        }
    }

    .icon {
        position: absolute;
        top: 50%;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba($mainBackColor, .5);
        z-index: 1;
        cursor: pointer;

        &.lefticon {
            left: 5px;

            i {
                background: url(../../../../icons/left-arrow-backup-2-svgrepo-com.svg) no-repeat;
            }
        }

        &.righticon {
            right: 5px;

            i {
                background: url(../../../../icons/right-arrow-backup-2-svgrepo-com.svg) no-repeat;
            }
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 20px;
            height: 20px;
        }

        @include only-pc {
            display: none;
        }
    }

}