@import '../../../../common.scss';

.swapbanner {
    position: relative;

    .images {
        display: flex;
        position: relative;
        width: 100%;
        overflow: hidden;
        aspect-ratio: 2.5;
        
        .image {
            position: absolute;
            width: calc(32% - 15px);
            height: 98%;
            cursor: pointer;
            transition: all 1s ease-in-out;
            aspect-ratio: 1;
            border-radius: 30px;
            box-shadow: 4px 3px 12px #444;

            @include only-pc {
                &:first-of-type, &:last-of-type {
                    display: none;
                }
            }

            @include only-mobile {
                width: 100%;
                height: 100%;
                aspect-ratio: auto;
                box-shadow: none;
            }

            img {
                object-fit: cover;
                border-radius: 30px;
                pointer-events: none;

                @include only-mobile {
                    border-radius: 0;
                }
            }

            .content {
                position: absolute;
                top: 50%;
                left: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 80%;
                width: 80%;
                transform: translate(-50%, -50%);
                transition: all 1s ease-in-out;
                z-index: 1;
                border-radius: 30px;
                user-select: none;
                background: url(../../../../image/backplane.jpeg);
                opacity: 0;
            }

            .display {
                position: absolute;
                top: 50%;
                left: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 80%;
                width: 80%;
                transform: translate(-50%, -50%);
                transition: all 1s ease-in-out;
                z-index: 1;

                h3 {
                    margin: 0;
                    font-size: 45px;
                    color: #fff;
                    opacity: 1;
                    transition: all 1s ease-in-out;
                }

                span {
                    color: #fff;
                    font-size: 30px;
                    transition: all 1s ease-in-out;
                }
            }

            .backer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 30px;
                transition: all 1s ease-in-out;
            }

            &:hover {
                @include only-pc {
                    .content {
                        background: url(../../../../image/backplane.jpeg);
                        opacity: .8;
                    }

                    .display {
                        h3, span {
                            color: $goldenColor;
                        }
                    }

                    .backer {
                        background-color: rgba($color: #000, $alpha: .5);
                    }
                }
            }

            &:active {
                @include only-mobile {
                    .content {
                        background: url(../../../../image/backplane.jpeg);
                        opacity: .8;
                    }

                    .display {
                        h3, span {
                            color: $goldenColor;
                        }
                    }

                    .backer {
                        background-color: rgba($color: #000, $alpha: .5);
                    }
                }
            }
        }

        @include big-pc {
            margin: 0 auto;
            width: 1350px;
        }

        @include middler-pc {
            min-height: 400px;
        }

        @include only-mobile {
            height: 500px;
            aspect-ratio: auto;
        }
    }

    > span {
        position: absolute;
        display: block;
        width: 50px;
        height: 100%;
        z-index: 1;
        border: 0;
        cursor: pointer;

        &.lefticon {
            i {
                background: url(../../../../icons/left-arrow-backup-2-svgrepo-com.svg) no-repeat;
            }

            &:hover {
                @include only-pc {
                    background: linear-gradient(to right, rgba(2, 2, 2, .8), rgba(2, 2, 2, .3));
                }
            }

            &:active {
                @include only-mobile {
                    background: linear-gradient(to right, rgba(2, 2, 2, .8), rgba(2, 2, 2, .3));
                }
            }
        }

        &.righticon {
            top: 0;
            right: 0;

            i {
                background: url(../../../../icons/right-arrow-backup-2-svgrepo-com.svg) no-repeat;
            }

            &:hover {
                @include only-pc {
                    background: linear-gradient(to left, rgba(2, 2, 2, .8), rgba(2, 2, 2, .3));
                }
            }

            &:active {
                @include only-mobile {
                    background: linear-gradient(to left, rgba(2, 2, 2, .8), rgba(2, 2, 2, .3));
                }
            }
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 20px;
            height: 20px;
        }

        @include only-pc {
            display: none;
        }
    }
}