$goldenColor: #D5AD78;
$blueColor: #072F62;
$darkerBlue: #050D40;
$middleBlue: #3c6fae;
$lightBlue: #528dd7;
$mainBackColor: #1F1F1F;
$riceWhite: #fbefe3;
// $fontColor: #222222;
$fontColor: #444;
$fontBasis: #dbdbdb;
$mainColor: #f9e2cb;
$cardColor: #434b50;

$pc: 980px;

.serverRender {
    display: none;
}

@mixin big-pc {
    @media all and (min-width: 1600px) {
        @content;
    }
}

@mixin mid-pc {
    @media (min-width: 980px) and (max-width: 1599px) {
        @content;
    }
}

@mixin middler-pc {
    @media (min-width: 980px) and (max-width: 1300px) {
        @content;
    }
}

@mixin only-mobile {
    @media all and (max-width: 979px) {
        @content;
    }
}

@mixin only-pc {
    @media all and (min-width: 980px) {
        @content;
    }
}

@mixin small-pc {
    @media (min-width: 690px) and (max-width: 979px) {
        @content;
    }
}

@mixin small-m {
    @media all and (max-width: 689px) {
        @content;
    }
}