$goldenColor: rgb(213, 173, 120);
$blueColor: rgb(7 47 98);
$darkerBlue: rgb(5 13 64);
$mainBackColor: rgb(31, 31, 31);
$riceWhite: #fbefe3;

$pc: 980px;

.serverRender {
    display: none;
}

@mixin big-pc {
    @media all and (min-width: 1600px) {
        @content;
    }
}

@mixin mid-pc {
    @media (min-width: 980px) and (max-width: 1599px) {
        @content;
    }
}

@mixin middler-pc {
    @media (min-width: 980px) and (max-width: 1300px) {
        @content;
    }
}

@mixin only-mobile {
    @media all and (max-width: 979px) {
        @content;
    }
}

@mixin only-pc {
    @media all and (min-width: 980px) {
        @content;
    }
}

@mixin small-pc {
    @media (min-width: 690px) and (max-width: 979px) {
        @content;
    }
}

@mixin small-m {
    @media all and (max-width: 689px) {
        @content;
    }
}