/* @import url(https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap); */
/* @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); */
/* @import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css); */

body {
    margin: 0;
    /* font-family: 'Noto Serif TC', serif; */
    font-family: ‘cwTeXFangSong’, serif;
}

body.locker {
    overflow: hidden;
}