@import '../../../common.scss';

.default {
    // background-image: url(https://www.buna.com.tw/images/bg.jpg);
    // background: url(../../../image/bg10.jpeg);
    background: url(../../../image/27_0.jpg);
    min-height: calc(100vh - 80px - 126px);

    .mainbanner {
        position: relative;
        height: 500px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 30px;

        > h2 {
            height: 20%;
            margin: 20px 0;
            color: $blueColor;
            font-size: 50px;
        }

        .deco {
            position: relative;
            width: 800px;
            height: 12px;
            margin: 0 auto;
            opacity: 1;
            user-select: none;

            @include only-mobile {
                width: 100%;
            }
        }

        > div.contents {
            margin: 30px 0;
            padding: 0 15%;
            min-height: 500px;
            overflow: hidden;

            @include only-mobile {
                padding: 0 10px;
            }
        }
    }

    &.active {
        main {
            > h2 {
                animation: fadein 8s ease-in-out;
                
                @keyframes fadein {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }

            .deco {
                animation: linethrough 5s ease-in-out;

                @keyframes linethrough {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: .5;
                    }
                }
            }

            > div {
                animation: fadein 8s ease-in-out;
                
                @keyframes fadein {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }
        }
    }
}